/* Global styles */
* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-weight: bolder;
  font-style: italic;
  background-color: #261802;
}

/* Tittle*/
h1 {
  color: rgb(249, 207, 20);
  margin-top: 40px;
}

h2,
h4 {
  font-size: 1.5rem;
  color: #c4b08e;
  margin: 30px;
}

h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}


/* botones changePage*/
.principal-buttons {
  margin: 20%;
  border-radius: 10px;
  background-color: rgb(249, 207, 20);
  font-weight: bold;
  font-style: italic;
}

.container {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.sapo {
  height: 200px;
  width: 50%;
  margin: 30px;
  /* animation: bounce 10s ease-in infinite; */
}

@keyframes bounce {
  50% {
    transform: translateX(45vw);
    /* ancho */
  }

  100% {
    transform: translateX(0vW);
  }
}

.argolla {
  height: 60px;
  width: 30%;
  /* animation: bounce2  2s ease-in infinite; */
}

@keyframes bounce2 {

  0% {
    transform: rotate(180deg);
  }

  50% {
    transform: translateY(-20vw);
  }

  100% {
    transform: translateY(25vW);

  }
}

/*Configboard */

.button-add-player {
  background-color: #a4ce52;
  color: #261802;
  font-weight: bold;
  font-style: italic;
  border-color: rgb(68, 187, 21);
  margin-top: 40px;
}

.button-delete-players {
  background-color: #f6724d;
  color: #261802;
  font-weight: bold;
  font-style: italic;
  border-color: rgb(68, 187, 21);
  margin-top: 40px;
}

.input {
  background-color: #261802;
  border-radius: 13px;
  border: 2px solid rgb(68, 187, 21);
  font-size: 1.2rem;
  padding: 6px 15px;
  width: 80%;
  color: #c4b08e;
}

.name-player {
  color: #c4b08e;
}

.form-select {
  width: 70%;
  max-width: 500px;
  padding: 10px;
  border-radius: 13px;
  color: #cdd00f;
  margin: auto;
  background-color: #261802;
}


/* BOARD */

span {
  padding: 10px;
  border: 2px solid #c4b08e;
  border-radius: 13px;
  color: #b4b70b;
  background-color: #373933;
}

.turno-de {
  margin-top: 40px;
}

div 
.button-points
{
  margin-top: 60px;
  margin-bottom: 4px;
}

.change-points {
  margin-top: 60px;
}

/* Table points */

.sapo-tb{
  height:100px;
}


.title-table-points {
  margin: 10%;
}

table
td {
  font-weight: lighter;
}

