@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin+Sketch:wght@700&family=Handjet:wght@600&family=Indie+Flower&family=Neucha&family=Open+Sans:wght@300&family=Press+Start+2P&family=Rampart+One&family=Righteous&family=Rubik+Iso&display=swap');


/* General styles */

body{
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-style: italic;
  background-color: #0f0544;
}
/* header*/

.navbar{
  background-color: #1b2957 ;
   /* */
}

h1 {
  font-family: 'Rampart One', cursive;
  color: #a6fd05;
  margin-top: 50px;
}

hr{
  color: #9be610;
}

h2
 {
  font-family: 'Cabin Sketch';
  color: #f2e3a7;
}

h4 {
  color: #d2c8a1;
  font-weight: bold;
} 

.principal-buttons {
  margin: 10% 0%;
  border-radius: 10px;
  border: solid 1px;
  font-weight: bold;
  padding: 10px 45px;
  /* background-color: #f6cd28; */
  background-color:  #0f0544;
  color: #f2e3a7;
}

img {
  width: 100%;
  height: 100%;
}
/* ----------------------------------------------------------------- */

/* customClass pop-up */
.custom-container {
  border: 2px solid;
  border-radius: 10px !important;
  height: 30px !important;
  color:   #6f6f72 !important;
}

.custom-button {
  margin: 2%;
  color: whitesmoke !important;
  background-color: #050948 !important;
  padding: 10px 60px !important;
  border: solid 3px  #a6fd05 !important;

  font-weight: bold;
}

/*Configboard */

.text{
  font-style: normal;
}

.title-config{
  margin-top: 150px;
}

input{
  padding: 6px;
  width: 100%;
  border-radius: 13px;
  font-size: 1.2rem;
  font-style: italic;

  font-family:'Open Sans';
  background-color:  #0f0544;
  border:solid 2px #659010;
  color:  #cbc4a6;
  
}

.name-player {
  color: #c4b08e;
  margin-top: 30px;
  margin-left: 15%
}


.button-add-player {
  font-weight: bold;
  font-style: italic;
  margin-right: 3px;

  background-color: #befaaee6;
  color: #102602;
}

.button-delete-players {
  font-weight: bold;
  font-style: italic;
  background-color: #f8cccce6;
}

.break-hr{
  border: #9be610 inset 3px;
  border-radius: 10px;
  margin: 0px 20px;
}


.form-select {
  background-color: #13084f;
  border:solid 2px #659010;
  color:  #cbc4a6;
  
  border-radius: 13px;
  padding: 10px;
  width: 100%;
  margin: auto;
}


/* BOARD */

.turno {
  margin: 50px;
  border-radius: 20px; 
  color:#c4b08e;
  background-color: #13065f ;
  border: dotted 5px   #f2e3a7;
}

.turno-de{ 
  color: #ddefdf;
  font-family: 'Cabin Sketch';
  
}

.button-points {
  margin-top: 60px;
  margin-bottom: 4px;
}

.padding-buttons{
 padding: 16px 40px; 
}


.board-buttons {
  border-radius: 10px;
  border: solid 1px;
  font-weight: bold;
  padding: 15px 25px;
  background-color: #13065f  !important;;
  color: #f2e3a7;
}


/* TableBoard */

.sapo-tb {
  width: 45%;
  height: 35%;
  
  margin: 35px 5px;
  float: right;
}

.game-points{
  padding-top: 10%;
  margin-left: 5%;
}

.chico-points{
  margin-left: 6%;
}

table td {
  font-weight: lighter;
}

.table-color{
  background-color: #8acf0b !important ;
}

/* winBoard */

.win-text{
  color: rgb(192, 234, 65);
  margin-top: 190px;

}
